POSTGRES_DB=library
POSTGRES_USER=library_app
POSTGRES_PASSWORD=library_app_pw

DB_URL=jdbc:postgresql://postgres:5432/library
DB_USERNAME=library_app
DB_PASSWORD=library_app_pw

KEYCLOAK_PUBLIC_URL=http://localhost:8081
KEYCLOAK_HTTP_RELATIVE_PATH=/
KEYCLOAK_ISSUER_URI=http://localhost:8081/realms/library
KEYCLOAK_JWK_SET_URI=http://keycloak:8080/realms/library/protocol/openid-connect/certs
KEYCLOAK_ADMIN_BASE_URL=http://keycloak:8080/
KEYCLOAK_ADMIN_REALM=library
KEYCLOAK_BOOTSTRAP_ADMIN_USERNAME=admin
KEYCLOAK_BOOTSTRAP_ADMIN_PASSWORD=change-this-keycloak-bootstrap-password
KEYCLOAK_ADMIN_USERNAME=admin
KEYCLOAK_ADMIN_PASSWORD=change-this-keycloak-bootstrap-password

GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=change-this-grafana-password

APP_CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173
VITE_API_BASE_URL=http://localhost:8080
VITE_KEYCLOAK_URL=http://localhost:8081
KEYCLOAK_PROXY_PATH=
